 # Python For Data Science

 Notes from datacamp

 Sharing: Edgar Rios https://linktr.ee/erlinares

## Import Library

In [2]:
import pandas as pd

## Pandas Data Structures

### Series

A one-dimensional labeled array capable of holding any datatype

In [3]:
s = pd.Series([3, -5, 7, 4], index=['a', 'b', 'c', 'd'])
print(s)

a    3
b   -5
c    7
d    4
dtype: int64

### Dataframe

A two-dimensional labeled data structure with columns of potentially different types

In [4]:
data = {'Country': ['Belgium', 'India', 'Brazil'],
            'Capital': ['Brussels', 'New Delhi', 'Brasília'],
            'Population': [11190846, 1303171035, 207847528]}

In [5]:
df = pd.DataFrame(data,
                       columns=['Country', 'Capital', 'Population'])

In [6]:
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

## Dropping

In [7]:
s.drop(['a', 'c']) #Drop values from rows (axis=0)

b   -5
d    4
dtype: int64

In [8]:
df.drop('Country', axis=1) #Drop values from columns(axis=1)

     Capital  Population
0   Brussels    11190846
1  New Delhi  1303171035
2   Brasília   207847528

## Asking For Help

In [10]:
help(pd.Series.loc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - An alignable boolean Series. The index of the key will be aligned before
      masking.
    - An alignable Index. The Index of the returned selection will be the input.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`.

    Raises
    ------
    KeyError
        If any items are not found.
    IndexingError
        If an indexed key is passed and its index is unalignable to the frame index.

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair.
    DataFrame.iloc : Access group of rows and columns by integer position(s).
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
        Series/DataFrame.
    Series.loc : Access group of values using labels.

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=['cobra', 'viper', 'sidewinder'],
    ...      columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Alignable boolean Series:

    >>> df.loc[pd.Series([False, True, False],
    ...        index=['viper', 'sidewinder', 'cobra'])]
                max_speed  shield
    sidewinder          7       8

    Index (same behavior as ``df.reindex``)

    >>> df.loc[pd.Index(["cobra", "viper"], name="foo")]
           max_speed  shield
    foo
    cobra          1       2
    viper          4       5

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...    ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...         [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

## Sort & Rank

In [11]:
df.sort_index() #Sort by labels along an axis

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

In [12]:
df.sort_values(by='Country') #Sort by the values along an axis

   Country    Capital  Population
0  Belgium   Brussels    11190846
2   Brazil   Brasília   207847528
1    India  New Delhi  1303171035

In [13]:
df.rank() #Assign ranks to entries

   Country  Capital  Population
0      1.0      2.0         1.0
1      3.0      3.0         3.0
2      2.0      1.0         2.0

## I/O

### Read and Write to CSV

In [16]:
# read csv file
# file -> Annual enterprise survey: 2021 financial year (provisional) – CSV
# from -> Stats NZ
pd.read_csv('https://www.stats.govt.nz/assets/Uploads/Annual-enterprise-survey/Annual-enterprise-survey-2021-financial-year-provisional/Download-data/annual-enterprise-survey-2021-financial-year-provisional-csv.csv', header=None, nrows=5)

,0,1,2,3,4,5,6,7,8,9
0,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
1,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...

In [17]:
#write csv file
df.to_csv('myDataFrame.csv')

### Read and Write to Excel

In [19]:
# read excel file
# file -> Bitumen Valuation Methodology (BVM) model calculator
# from -> Alberta Goverment

pd.read_excel('https://open.alberta.ca/dataset/0eb75450-6244-4a72-ba5b-e439573f8ae6/resource/a4031dbf-b17a-4f68-a0e6-0fa53e5bf7c0/download/bvmimplementationmodel.xlsx')

    Unnamed: 0                                         Unnamed: 1
0          NaN                                       User Inputs:
1          NaN                                                NaN
2          NaN  This model is intended for a user to obtain th...
3          NaN                                                NaN
4          NaN  The user needs to replace the default bitumen ...
5          NaN                                                NaN
6          NaN                          Mechanism of Calculation:
7          NaN                                                NaN
8          NaN  The model calculates the monthly value of bitu...
9          NaN                                                NaN
10         NaN  The model is essentially a mass balance that "...
11         NaN                                                NaN
12         NaN  The value of the project bitumen is obtained b...
13         NaN                                                NaN
14         NaN  All density measurements are at 15 °C and 1 at...
15         NaN                                                NaN
16         NaN  Volumetric measurements are in m3 @ 15 °C (59 ...
17         NaN                                                NaN
18         NaN  To learn more about the BVM components, please...

In [20]:
# write excel
df.to_excel('myDataFrame.xlsx', sheet_name='Sheet1')

### Read and Write to SQL Query or Database Table

In [ ]:
#import library
from sqlalchemy import create_engine
#object engine
engine = create_engine('sqlite:///:memory:')
pd.read_sql("SELECT * FROM my_table;", engine)
pd.read_sql_table('my_table', engine)
pd.read_sql_query("SELECT * FROM my_table;", engine)

## Selection

### Getting

In [21]:
s['b'] #Get one element

-5

In [22]:
df[1:] #Get subset of a DataFrame

  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasília   207847528

### Selecting, Boolean Indexing & Setting

In [32]:
#By Position
df.iloc[[0],[0]] #Select single value by row & column

'Belgium'

In [33]:
df.iat[0,0]

'Belgium'

In [28]:
# by label
df.loc[[0], ['Country']] #Select single value by row & column labels

   Country
0  Belgium

In [34]:
# Boolean Indexing
s[~(s > 1)] #Series s where value is not >1

b   -5
dtype: int64

In [35]:
s[(s < -1) | (s > 2)] #s where value is <-1 or >2

a    3
b   -5
c    7
d    4
dtype: int64

In [36]:
df[df['Population']>1200000000] #Use filter to adjust DataFrame

  Country    Capital  Population
1   India  New Delhi  1303171035

In [39]:
#Setting
s['a'] = 6 #Set index a of Series s to 6
s

a    6
b   -5
c    7
d    4
dtype: int64

## Retrieving Series/DataFrame Information

### Basic Information

In [40]:
df.shape #(rows,columns)

(3, 3)

In [41]:
df.index #Describe index

RangeIndex(start=0, stop=3, step=1)

In [42]:
df.columns #Describe DataFrame columns

Index(['Country', 'Capital', 'Population'], dtype='object')

In [43]:
df.info() #Info on DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     3 non-null      object
 1   Capital     3 non-null      object
 2   Population  3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [44]:
df.count() #Number of non-NA values

Country       3
Capital       3
Population    3
dtype: int64

### Summary

In [45]:
df.sum() #Sum of values

Country              BelgiumIndiaBrazil
Capital       BrusselsNew DelhiBrasília
Population                   1522209409
dtype: object

In [46]:
df.cumsum() #Cummulative sum of values

              Country                    Capital  Population
0             Belgium                   Brussels    11190846
1        BelgiumIndia          BrusselsNew Delhi  1314361881
2  BelgiumIndiaBrazil  BrusselsNew DelhiBrasília  1522209409

In [50]:
print(df.min()) #Minimum/maximum values
print(df.max())

Country        Belgium
Capital       Brasília
Population    11190846
dtype: object
Country            India
Capital        New Delhi
Population    1303171035
dtype: object

In [58]:
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

In [70]:
df.describe() #Summary statistics

         Population
count  3.000000e+00
mean   5.074031e+08
std    6.961346e+08
min    1.119085e+07
25%    1.095192e+08
50%    2.078475e+08
75%    7.555093e+08
max    1.303171e+09

In [71]:
df.mean() #Mean of values

<ipython-input-71-50d7062fed41>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean() #Mean of values

Population    5.074031e+08
dtype: float64

In [72]:
df.median() #Median of values

<ipython-input-72-b41e06e299df>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median() #Median of values

Population    207847528.0
dtype: float64

## Applying Functions

In [76]:
f = lambda x: x*2

In [77]:
df.apply(f) #Apply function

          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasíliaBrasília   415695056

In [78]:
df.applymap(f) #Apply function element-wise

          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasíliaBrasília   415695056

## Data Alignment

### Internal Data Alignment

In [79]:
# NA values are introduced in the indices that don’t overlap:
s3 = pd.Series([7, -2, 3], index=['a', 'c', 'd'])
s + s3

a    13.0
b     NaN
c     5.0
d     7.0
dtype: float64

### Arithmetic Operations with Fill Methods

In [81]:
# You can also do the internal data alignment yourself with the help of the fill methods:
s.add(s3, fill_value=0)

a    13.0
b    -5.0
c     5.0
d     7.0
dtype: float64

In [82]:
s.sub(s3, fill_value=2)

a   -1.0
b   -7.0
c    9.0
d    1.0
dtype: float64

In [83]:
s.div(s3, fill_value=4)

a    0.857143
b   -1.250000
c   -3.500000
d    1.333333
dtype: float64

In [84]:
s.mul(s3, fill_value=3)

a    42.0
b   -15.0
c   -14.0
d    12.0
dtype: float64